* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
  }

a{
    text-decoration: none;

}


/* Main */

.content{
    background-color: #03c2007b;
}

.container{
    width: 30%; 
    float: left;
    max-height: 500px; /* Hauteur maximale du conteneur */
    overflow-y: scroll; /* Activer la barre de défilement verticale */
}

.title{
    color: #0091B0;
}

.title + img{
    width: 16%; 
    height: 16%;
}

button{
    background-color: #04C200;
}

.btn-outline-lightgreen {
  --bs-btn-color: #04C200;
  --bs-btn-border-color: #04C200;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #04C200;
  --bs-btn-hover-border-color: #04C200;
  --bs-btn-focus-shadow-rgb: 25, 135, 84;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #04C200;
  --bs-btn-active-border-color: #04C200;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #04C200;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #04C200;
  --bs-gradient: none;
}

.btn-lightgreen {
  --bs-btn-color: #fff;
  --bs-btn-bg: #04C200;
  --bs-btn-border-color: #04C200;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #04C200;
  --bs-btn-hover-border-color: #04C200;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #04C200;
  --bs-btn-active-border-color: #04C200;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #04C200;
  --bs-btn-disabled-border-color: #04C200;
}


/* HR */

.main_hr {
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    height: 1px;
    background-color: rgb(0, 0, 0);
    width: 95%;
    transform: rotate(180deg);
    border: none;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}


/* scrollbar */

.container::-webkit-scrollbar{
    width: 8px;
}
  
.container::-webkit-scrollbar-thumb {
    background: #888;
}


/* Formulaire  */

.form-container {
    display: none;
}
.form-container.active {
    display: block;
}
.inputColor {
    border: none;
}


/* Input */
.form-control-lg:not([aria-label="toute la journée"]) {
    width: 85%;
    border: none; /* Supprime toutes les bordures par défaut */
    border-bottom: 1px solid #000000; /* Ajoute une bordure en bas */
    border-radius: 0; /* Supprime le bord arrondi par défaut */
}

.form-check-input {
    border-color: #000000 !important;
}


.btn-active {
    background-color: #A3E6FC !important;
    color: #0487FF !important;
}
.btn-inactive {
    background-color: #6c757d !important;
    color: white !important;
}


/* CALENDRIER */

#calendar {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 30%;
    margin-top: 2%;
}


#daysOfWeek {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#daysOfWeek div {
    width: calc(100% / 7);
    text-align: center;
    font-weight: bold;
}

#calendarBody {
    display: flex;
    flex-wrap: wrap;
}

.day {
    width: calc(100% / 7);
    height: 100px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    padding: 5px;
}

.day.previous-month, .day.next-month {
    color: #ccc;
}

.day:hover {
    background: #f0f0f0;
}